:root {
    /* カスタムカラー変数 */
    --text-color: #663300;
    --text-color-blend: #030558;
    --back-up-color: #663300;
}

* {
    /* グローバルリセットと基本フォント設定 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif; /* 代替フォントを使用 */
    font-optical-sizing: auto;
}

body {
    background-color: #FFF5EE;
    color: #663300;
}

header {
    /* 背景設定 */
    width: 100%;
    height: 100vh;
    background: url(images/noen.png); /* 背景画像 */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* ロゴの位置指定 */ 
.header-logo {
    top: 2rem;
    margin-left: 4rem;
    position: fixed;
}

/* ロゴの画像サイズ指定 */
.logo-image {
    width: 60px;
    height: auto;
    display: block;
    margin: 10px 0;
}

/* ナビゲーションバーのスタイリング */ 
nav {
    width: 100%;
    padding: 1rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed; /* 固定 */
    top: 0;
    left: 0;
    z-index: 1000; /* 他の要素より前面に表示 */ 
}

nav ul{
    display: flex;
    text-align: center;
    list-style: none;
    gap: 3rem;
    margin-left: 250px;
}

nav li{
    display: table-cell;
    min-width: 50px;
    }

nav a{
    display: block;
    width: 100%;
    text-decoration: none;
    padding-bottom: 5px;
        
    color: #663300;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 25px;
    padding: 10px 15px;
    transition: 0.6s;
}


nav li:hover{
    color: #663300;
    border-bottom: 3px solid #663300;
}

nav li.active{
    border-bottom: 3px solid #663300;
}

button {
    /* ボタンのスタイリング */
    border: 2px solid var(--back-up-color);
    background: transparent;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 600;
    color: var(--back-up-color);
    cursor: pointer;
    transition: 0.65s;
}

button:hover {
    /* ボタンのホバー時の色変更 */
    background-color: var(--back-up-color);
    color: #000;
}

/* 四季のおいしい～部分 */
.flex-box {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 250px; /* 初期位置 */
}

.flex-item1 {
    color: #8B4513;
    margin-right: 644px;
    background: #fff;
    font-size: 30px;
    writing-mode: vertical-rl;
} 

.flex-item {
    color: #8B4513;
    margin-right: 30px;
    background: #fff;
    font-size: 30px;
    writing-mode: vertical-rl; 
}

/* flex-boxの固定位置 */
.stop {
    margin-top: 250px;
}

/* 新潟の野菜について */
.clamh1 {
    margin-top: 700px;
    text-align:center;
    padding-bottom: 30px;
}

/* 新潟の野菜についての内容文 */
.clam {
    text-align:center;
    width: 970px;
    height: 550px;
    margin: auto;
    padding: 50px 50px 50px 50px;
    background-color: #fff;
}
.clam p{
    text-align: left;
}

/*お知らせ*/
.newsh1{
    margin-top: 100px;
    text-align:center;
    padding-bottom: 30px;
}

.news {
    text-align:center;
    width: 1000px;
    height: 320px;
    margin: auto;
    padding: 50px 50px 50px 50px;
    display: flex;
    border: 1px solid;
    border-right: none;
    border-left: none;
}

/* ニュース エリアの指定*/
.news-clam {
    display: inline-block;
    width: 400px;
    height: 300px;
    margin: 20px;
    margin-top: 0;
    border-radius: 10px;
}

/* ニュース 画像指定 */
.news-clam img {
    width: 100%;
    border-radius: 5px;
}

.news-clam h3 {
    color: var(--primary-color);
    text-align: left;
}

.news-clam p {
    color: #663300;
    text-align: right;
}

/* 四季を楽しむ野菜 h1*/
.shikih1 {
    margin-top: 200px;
    text-align:center;
    padding-bottom: 30px;
}

/* Swiper スライド部分*/
.swiper {
    /*スライダーの幅と高さを調整*/
    width: 90%;
    height: 320px;
    margin: 0.5rem auto 2rem;
  }
  
  .swiper-slide {
    /*スライド要素の幅と高さを調整*/
    width: 100%;
    height: 100%;
  
    /*テキストの位置調整*/
    display: flex;
    justify-content: center;
    align-items: center;
  
    /*テキストの色と太さを指定*/
    color: #fff;
    font-weight: bold;
  }
  
  /*各スライドの背景色の設定*/
  .slide1 {
    background-color: #c8e6c9;
  }
  
  .slide2 {
    background-color: #80cbc4;
  }
  
  .slide3 {
    background-color: #4db6ac;
  }
  .slide4 {
    background-color: #26a69a;
  }

/* オンラインストア h1 */
.storeh1 {
    position: relative;
    top: 5rem;
    text-align:center;
    padding-bottom: 50px;
}

/* オンラインストア 位置指定 */
.store {
    padding: 80px 200px 0px 200px;
    text-align: center;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

/* オンラインストア 商品ブロックの指定*/
.store-item {
    display: inline-block;
    width: 400px;
    height: 400px;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* オンラインストア 商品画像指定 */
.store-item img {
    width: 100%;
    border-radius: 5px;
}

.store-item h3 {
    color: var(--primary-color);
}

.store-item p {
    color: #663300;
}

.store-item span {
    font-size: 25px;
    color: var(--primary-color);
    font-weight: bold;
}

/* メニュー個別ページ */
#store-colam {
    display: inline-block;
    width: auto;
    height: 520px;
    margin: 50px 50px 50px 64px;
    background-color: #333;
    border-radius: 30px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #ffffff;
}

#store-colam .storeleft {
    display: flex;
    justify-content: space-between;   
 
}

#store-colam .colam>p {
    width: 100%;
}

/*　画像の拡大　*/

.zoomIn img{
	transform: scale(1);
	transition: .5s ease-in-out;/*移り変わる速さを変更したい場合はこの数値を変更*/
}

.zoomIn a:hover img{/*hoverした時の変化*/
	transform: scale(1.1);/*拡大の値を変更したい場合はこの数値を変更*/
}

/* インスタ h1 */
.instagram{
    position: relative;
    top: 5rem;
    text-align:center;
    padding-bottom: 50px;
}

